.container {
    display: flex;
    justify-content: space-between;
    height: 98vh;
  }
  
  .list-container {
    flex: 1;
    overflow: scroll;
    padding: 10px;
    border-right: 1px solid #ccc;
  }
  
  .list-item {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #eee;
    transition: background-color 0.3s ease;
  }
  
  .list-item.selected {
    background-color: #f0f0f0;
  }
  
  .detail-container {
    width: 60%;
    padding: 10px;
  }
  